@model List<Webshop.Models.ProductsViewModel>


@{
    ViewData["Title"] = "All our Bass guitars";
}

<h1>@ViewData["Title"]</h1>


<div class="body-content">

    @foreach(var products in Model)
    {
        <div class="product-grid">
            <h2>@(products.Title)</h2> 
            <a href="/products/item/@(products.Id)"><img class="bass_image" src="@(products.Image)"></a>
            <div>
                <p>Price: €@(products.Price)</p> 
                <a href="/products/item/@(products.Id)"><button type="button" class="btn btn-info">Read More</button></a>
                <a href="#"><button type="button" class="btn btn-primary">Add To Cart</button></a>
            </div>
        </div>
    <hr>
    }
</div>