@model List<Webshop.Models.ProductsViewModel>


@{
    ViewData["Title"] = "All Products";
}

<h2>@ViewData["Title"]</h2>


<div class="products">

    @foreach(var products in Model)
    {
        <div>
            <h2>@(products.Title)</h2> 
            <img src="@(products.Image)">
            <p>@(products.Description)</p> 
            <a href="/products/item/@(products.Id)"><button type="button" class="btn btn-info">Read More</button></a>
            <div>
                <p>Price: $@(products.Price)</p> 
                <a href="#"><button type="button" class="btn btn-info">Add To Cart</button></a>
            </div>
        </div>
    }

</div>