@model List<Webshop.Models.ProductsViewModel>


@{
    ViewData["Title"] = "All our Bass guitars";
}

<h1>@ViewData["Title"]</h1>


<div class="body-content">

    @foreach(var products in Model)
    {
        <section>
            <h2>@(products.Title)</h2> 
            <a href="/products/item/@(products.Id)"><img class="bass_image" src="@(products.Image)"></a>
            <p>Price: €@(products.Price)</p> 

            <article>
                <a href="/products/item/@(products.Id)"><button type="button" class="btn btn-info">Read More</button></a>
                <form action="/cart/addtocart/@(products.Id)" method="post">
                   <input class="btn btn-primary" type="submit" value="Buy now!" />
                </form>            
            </article>
        
        </section>
    <hr>
    }
</div>