@model Webshop.Models.ProductsViewModel

@{
<!--    ViewData["Title"] = @Model.Title;-->
}

<a href="/products"><button type="button" class="btn btn-info">View all basses</button></a>
<div class="bass-section">
    <h2>@(Model.Title)</h2>

    <div class="col-1"> 
        <img src="@(Model.Image)" alt="Product image">
    </div>
    
    <div class="col-2">
        <p>@(Model.Description)</p>
        <p>€@(Model.Price)</p>
    </div>
</div>

<form action="/cart/addtocart/@(Model.Id)" method="post">
   <input class="btn btn-primary" type="submit" value="Buy now!" />
</form>
