@model Webshop.Models.ProductsViewModel

@{
<!--    ViewData["Title"] = @Model.Title;-->
}

<a href="/products"><button type="button" class="btn btn-info">View all basses</button></a>
<div> 
        <h2>@(Model.Title)</h2>
        <img src="@(Model.Image)" alt="Product image">
</div>
<div>
    <p>@(Model.Description)</p>
    <p>€@(Model.Price)</p>
</div>
<a href="#"><button type="button" class="btn btn-primary">Add To Cart</button></a>