@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    The Bass Shop Ltd.<br />
    Bass man road 666<br />
    Göttingen<br />
    <abbr title="Phone">P:</abbr>
    +46 666 555 000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:#">Support@thebassshop.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:#">Marketing@thebassshop.com</a>
</address>
