@import url('https://fonts.googleapis.com/css?family=RockSalt|Ubuntu');

h1, h2, h3, h4, p, th, td, small {
    color: #f8f8ff;
}

h1 {
    font-family: 'RockSalt', cursive
}

p, h2, h3, h4, th, td {
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-size: 20px;
}



body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 20px;
}

.carousel img {
    width: 100%;
    max-height: 400px; }

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

hr {
    border-top: 5px solid #1c1c1c;}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

img {
    max-width: 600px;
    height: auto;
    margin: 3% 0;}

/*bass-section {
}

.col-1 {
    display:flex;
    flex:1;
    float: left;
    margin-right:1%;
}
col-2 {
    display: flex;
    flex: 1;
    float: right
}*/
